<!-- about page -->
<main class="content container">
    <div>
        <h1>About</h1>

        <h2>About Project</h2>
        <p>Twito is a twitter App's Clone build on top Ruby on Rails and hosted in shared hosting from IdCloudHost</p>
        
        <h2>About me</h2>
        <p>I'm Ananto Yusuf, Go/Ruby Developer</p>
    </div>
</main>